@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-bottom: 0%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: #0E56BC;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 0; */
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #4E79B0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}

.hero {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: -2;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}



.welcome h1{
  margin-bottom: 130px;
  margin-right: 100px;
}


.welcome{
  color: #0E56BC;
  font-family: 'Jost';
  font-size: 30px;
  display: flex;
  float: right;
}

.first-img{
  display: flex;
  float: left;
  margin-top: -1pc;

}

.second-img{
  display: flex;
  float: right;
  margin-top: -1pc;
}

.services{
  background-color: #4E79B0;
  border-radius: 15px;
  width: 270px;
  height: auto;
  padding: 20px;
  margin-left: 100px;
  margin-top: 25pc;
}

.services-two{
  color:#4E79B0;
  text-align: center;
  margin-top: 6pc;
}


.grid-container {
  display: grid;
  grid-template-columns: 450px 450px 450px;
  grid-gap: 20px;
  background-color: #fff;
  margin: 50px;
}



.box {
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}


.booking-img{
  float: left;
  margin: 20px;
  margin-left: 5pc;
}

.booking-img img{
  height: 25pc;
  width: 45pc;
}

.booking-form{
  width: 40pc;
  float: right;

}

.book{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #4E79B0;
  border-radius: 4px;


}

.submit-btn button{
  color: #0E56BC;
  background-color: #4E79B0;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}



.partner-img{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.partner-img img{
  width: 195px;
  height: 100px;
  border-radius: 20px;
}

.pt-name{
  color: steelblue;
  text-align: center;
  font-size: large;
}


.footer {
  position: relative;
  background: #4E79B0;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:5%;
  width: 100%;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
.menu__link:hover{
  color: white;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.imgur.com/ZAts69f.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}